parameters:
	ignoreErrors:
		-
			message: "#^Parameter \\#1 \\$email of class App\\\\Core\\\\Shared\\\\ValueObject\\\\Email constructor expects string, mixed given\\.$#"
			count: 1
			path: src/Core/CreateUser/CreateUserRequestDenormalizer.php

		-
			message: "#^Parameter \\#1 \\$uuid of class App\\\\Core\\\\Shared\\\\ValueObject\\\\Uuid constructor expects string, mixed given\\.$#"
			count: 1
			path: src/Core/CreateUser/CreateUserRequestDenormalizer.php

		-
			message: "#^Cannot cast mixed to int\\.$#"
			count: 1
			path: src/Core/IndexUsers/DoctrineIndexUsersRepository.php

		-
			message: "#^Parameter \\#1 \\$data of method App\\\\Core\\\\IndexUsers\\\\IndexUsersRequestDenormalizer\\:\\:denormalize\\(\\) expects array\\<string, string\\>, array\\<string, array\\|bool\\|float\\|int\\|string\\> given\\.$#"
			count: 1
			path: src/Core/IndexUsers/IndexUsersController.php

		-
			message: "#^Parameter \\#1 \\$email of class App\\\\Core\\\\Shared\\\\ValueObject\\\\Email constructor expects string, mixed given\\.$#"
			count: 1
			path: src/Core/UpdateUser/UpdateUserRequestDenormalizer.php

		-
			message: "#^Parameter \\#1 \\$userFactory of class App\\\\Core\\\\CreateUser\\\\CreateUserHandler constructor expects App\\\\Core\\\\CreateUser\\\\UserFactory, object\\|null given\\.$#"
			count: 2
			path: tests/Core/CreateUser/CreateUserHandlerTest.php

		-
			message: "#^Parameter \\#2 \\$transactionManager of class App\\\\Core\\\\CreateUser\\\\CreateUserHandler constructor expects App\\\\Core\\\\Shared\\\\Repository\\\\Port\\\\TransactionManagerInterface, App\\\\Core\\\\Shared\\\\Repository\\\\Port\\\\TransactionManagerInterface\\|PHPUnit\\\\Framework\\\\MockObject\\\\MockObject given\\.$#"
			count: 2
			path: tests/Core/CreateUser/CreateUserHandlerTest.php

		-
			message: "#^Parameter \\#3 \\$userRepository of class App\\\\Core\\\\CreateUser\\\\CreateUserHandler constructor expects App\\\\Core\\\\Shared\\\\Repository\\\\Port\\\\UserRepositoryInterface, object\\|null given\\.$#"
			count: 2
			path: tests/Core/CreateUser/CreateUserHandlerTest.php

		-
			message: "#^Parameter \\#4 \\$eventDispatcher of class App\\\\Core\\\\CreateUser\\\\CreateUserHandler constructor expects App\\\\Core\\\\Shared\\\\Event\\\\EventDispatcherInterface, object\\|null given\\.$#"
			count: 2
			path: tests/Core/CreateUser/CreateUserHandlerTest.php

		-
			message: "#^Property App\\\\Tests\\\\Core\\\\CreateUser\\\\CreateUserHandlerTest\\:\\:\\$handler \\(App\\\\Core\\\\CreateUser\\\\CreateUserHandler\\) does not accept object\\|null\\.$#"
			count: 1
			path: tests/Core/CreateUser/CreateUserHandlerTest.php

		-
			message: "#^Parameter \\#1 \\$userFactory of class App\\\\Tests\\\\Core\\\\GetUser\\\\GetUserTestData constructor expects App\\\\Core\\\\CreateUser\\\\UserFactory, object\\|null given\\.$#"
			count: 1
			path: tests/Core/GetUser/GetUserHandlerTest.php

		-
			message: "#^Property App\\\\Tests\\\\Core\\\\GetUser\\\\GetUserHandlerTest\\:\\:\\$handler \\(App\\\\Core\\\\GetUser\\\\GetUserHandler\\) does not accept object\\|null\\.$#"
			count: 1
			path: tests/Core/GetUser/GetUserHandlerTest.php

		-
			message: "#^Parameter \\#2 \\$userFactory of class App\\\\Tests\\\\Core\\\\IndexUsers\\\\IndexUsersTestData constructor expects App\\\\Core\\\\CreateUser\\\\UserFactory, object\\|null given\\.$#"
			count: 1
			path: tests/Core/IndexUsers/IndexUsersControllerTest.php

		-
			message: "#^Parameter \\#2 \\$userFactory of class App\\\\Tests\\\\Core\\\\IndexUsers\\\\IndexUsersTestData constructor expects App\\\\Core\\\\CreateUser\\\\UserFactory, object\\|null given\\.$#"
			count: 1
			path: tests/Core/IndexUsers/IndexUsersHandlerTest.php

		-
			message: "#^Property App\\\\Tests\\\\Core\\\\IndexUsers\\\\IndexUsersHandlerTest\\:\\:\\$handler \\(App\\\\Core\\\\IndexUsers\\\\IndexUsersHandler\\) does not accept object\\|null\\.$#"
			count: 1
			path: tests/Core/IndexUsers/IndexUsersHandlerTest.php

		-
			message: "#^Method App\\\\Tests\\\\Core\\\\IndexUsers\\\\IndexUsersTestData\\:\\:getExpectedEmptyUsersList\\(\\) should return string but returns string\\|false\\.$#"
			count: 1
			path: tests/Core/IndexUsers/IndexUsersTestData.php

		-
			message: "#^Method App\\\\Tests\\\\Core\\\\IndexUsers\\\\IndexUsersTestData\\:\\:getExpectedFilledUsersList\\(\\) should return string but returns string\\|false\\.$#"
			count: 1
			path: tests/Core/IndexUsers/IndexUsersTestData.php

		-
			message: "#^Property App\\\\Tests\\\\Core\\\\Shared\\\\Validator\\\\UniqueEmailValidatorTest\\:\\:\\$validator \\(App\\\\Core\\\\Shared\\\\Validator\\\\UniqueEmailValidator\\) does not accept object\\|null\\.$#"
			count: 1
			path: tests/Core/Shared/Validator/UniqueEmailValidatorTest.php

		-
			message: "#^Parameter \\#2 \\$userFactory of class App\\\\Tests\\\\Core\\\\UpdateUser\\\\UpdateUserTestData constructor expects App\\\\Core\\\\CreateUser\\\\UserFactory, object\\|null given\\.$#"
			count: 1
			path: tests/Core/UpdateUser/UpdateUserControllerTest.php

		-
			message: "#^Parameter \\#1 \\$userRepository of class App\\\\Core\\\\UpdateUser\\\\UpdateUserHandler constructor expects App\\\\Core\\\\Shared\\\\Repository\\\\Port\\\\UserRepositoryInterface, object\\|null given\\.$#"
			count: 2
			path: tests/Core/UpdateUser/UpdateUserHandlerTest.php

		-
			message: "#^Parameter \\#2 \\$updateUserAssertions of class App\\\\Core\\\\UpdateUser\\\\UpdateUserHandler constructor expects App\\\\Core\\\\UpdateUser\\\\UpdateUserAssertions, object\\|null given\\.$#"
			count: 2
			path: tests/Core/UpdateUser/UpdateUserHandlerTest.php

		-
			message: "#^Parameter \\#2 \\$userFactory of class App\\\\Tests\\\\Core\\\\UpdateUser\\\\UpdateUserTestData constructor expects App\\\\Core\\\\CreateUser\\\\UserFactory, object\\|null given\\.$#"
			count: 1
			path: tests/Core/UpdateUser/UpdateUserHandlerTest.php

		-
			message: "#^Parameter \\#3 \\$transactionManager of class App\\\\Core\\\\UpdateUser\\\\UpdateUserHandler constructor expects App\\\\Core\\\\Shared\\\\Repository\\\\Port\\\\TransactionManagerInterface, App\\\\Core\\\\Shared\\\\Repository\\\\Port\\\\TransactionManagerInterface\\|PHPUnit\\\\Framework\\\\MockObject\\\\MockObject given\\.$#"
			count: 2
			path: tests/Core/UpdateUser/UpdateUserHandlerTest.php

		-
			message: "#^Parameter \\#4 \\$eventDispatcher of class App\\\\Core\\\\UpdateUser\\\\UpdateUserHandler constructor expects App\\\\Core\\\\Shared\\\\Event\\\\EventDispatcherInterface, object\\|null given\\.$#"
			count: 2
			path: tests/Core/UpdateUser/UpdateUserHandlerTest.php

		-
			message: "#^Property App\\\\Tests\\\\Core\\\\UpdateUser\\\\UpdateUserHandlerTest\\:\\:\\$handler \\(App\\\\Core\\\\UpdateUser\\\\UpdateUserHandler\\) does not accept object\\|null\\.$#"
			count: 1
			path: tests/Core/UpdateUser/UpdateUserHandlerTest.php

		-
			message: "#^Method App\\\\Tests\\\\IntegrationTestCase\\:\\:getEntityManager\\(\\) should return Doctrine\\\\ORM\\\\EntityManagerInterface but returns object\\|null\\.$#"
			count: 1
			path: tests/IntegrationTestCase.php

		-
			message: "#^Method App\\\\Tests\\\\SmokeTestCase\\:\\:getEntityManager\\(\\) should return Doctrine\\\\ORM\\\\EntityManagerInterface but returns object\\|null\\.$#"
			count: 1
			path: tests/SmokeTestCase.php

		-
			message: "#^Property App\\\\Tests\\\\SmokeTestCase\\:\\:\\$router \\(Symfony\\\\Component\\\\Routing\\\\Router\\) does not accept object\\|null\\.$#"
			count: 1
			path: tests/SmokeTestCase.php
